---
interface Props {
  id: string;
  tailProp: string;
}

const { id, tailProp } = Astro.props;
---

<button id={id} class={tailProp}>
  <div class="px-4 py-2 rounded-xl bg-orange-500 text-2xl font-semibold">
    <h2><slot /></h2>
  </div>
</button>
